<div class="col-md-6 col-md-offset-3">
    <h2>Create New Entry</h2>
    <hr/>
    <form ng-submit="createEntry()" ng-controller="EntryController">
        <div ng-if="isAdmin()" class="form-group">
            <label>User</label>
            <div>{{entryUserNameForAdd}}</div>
        </div>
        <div class="form-group">
            <label for="runDate">Date</label>
            <input type="date" placeholder="yyyy-MM-dd" name="date" id="date" class="form-control" required />
            <input ng-if="isAdmin()" type="hidden" name="userId" id="userId" value="{{entryUserForAdd}}">
        </div>
        <div class="form-group">
            <label for="time">Run time in minutes (ex: 120 for 2 hrs)</label>
            <input type="number" min="1" max="1440" name="time" id="time" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="distance">Distance in miles (ex: 2.5)</label>
            <input type="number" min="0.1" max="1000.0" name="distance" id="distance" class="form-control" required 
                   ng-pattern="/^[0-9]+(\.[0-9]{1})?$/" step="0.1"/>
        </div>
        <div class="form-actions">
            <input type="submit" value="Create Entry" id="submit" class="btn btn-primary"/>
            <a href="#/entries" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>