<div class="col-md-6 col-md-offset-3">
    <h2>Edit Entry</h2>
    <hr/>
    <form ng-submit="editEntry()" ng-controller="EntryController">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" placeholder="yyyy-MM-dd" ng-model="editingEntry.date" name="date" id="date" class="form-control" required />
            <input type="hidden" name="eid" id="eid" value="{{editingEntry.id}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="time">Time (0 - 23 h)</label>
            <input type="number" ng-model="editingEntry.time" min="0" max="23" name="time" id="time" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="distance">Distance</label>
            <input type="number" ng-model="editingEntry.distance" min="0" max="20000" name="distance" id="distance" class="form-control" required />
        </div>
        
        <div class="form-actions">
            <input type="submit" value="Edit Entry" id="submit" class="btn btn-primary"/>
            <a href="#/entries" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>